@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    top: 0;
    background: linear-gradient(to left, #7765E3,#3B60E4);
    color: #fff;
    padding: 50px 0 50px;
    border-bottom-right-radius: 125px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #080708;
    margin: 0;
}

header .title{
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 50px;
    font-weight: bold;
}

.home{
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 2em;
    width: 60px;
}
.container{
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: auto;
    flex-wrap: wrap;
    z-index: 1;
    padding: 20px;
}

.container h1{
    text-align: center;
    font-size: 3em;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
}

.container .card{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}

.container .card .content input{
    margin-top: 20px;
    margin-bottom: 20px;
}

.container .card .content h2{
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    z-index: 1;
}

.btn-calc{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 400;
}

label{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    color: #fff;
}

iframe{
    display: flex;
    margin-left: 100px;
}

#radio{
    margin: 0;
}

#res{
    color:#fff;
    font-size: 18px;
}

select{

    margin-top: 20px;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #7765E3,#3B60E4);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}
